/* universal selection reset padding & margin */
* {
    padding: 0px;
    margin: 0px;
}

html {
    background-color: #93f273;   
}

hr {
    height: 2px;
    background-color: #666666;
}

h1 {
    text-align: center;
    color: #660000;
    height: 50px;
    font-size: 50px;
    padding: 35px;
}

#container {
    position: relative;
    width: 300px;
    border: 3px solid #666666;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #666666;
    /* CSS3 - Box shadow */
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
    -ms-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 1);

}

input[type=text] {
    position: relative;
    display: block;
    width: 90%;
    margin: 12px auto 0px auto;
    font-size: 20px;
    /* border: 1px solid lightgray; */
    background-color: #cccccc;
}

input[type=button] {
    position: relative;
    background: #b3b3b3;
    width: 20%;
    margin: 1.85%;   /* ??? 2% */
    font-size: 15px;
    font-weight: 600;
    border-radius: 10%;    
    /* CSS3 - Box shadow */
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.7);
    -ms-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.7);
}

/* Pseudo-classes Selector: mouse over */
input[type=button]:hover {
    background-color: #8c8c8c;
}

/* Pseudo-classes Selector: input with disabled prop then change default color */
input[type="text"]:disabled {
    color: black;
}
